<!-- wp:template-part {"slug":"header-version-2","theme":"lawfirmpro/theme","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}},"border":{"top":{"color":"var:preset|color|custom-ebebeb","width":"1px"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--custom-ebebeb);border-top-width:1px;padding-top:50px;padding-bottom:50px"><!-- wp:buttons {"align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons alignwide"><!-- wp:button {"textColor":"custom-bcbcbc","className":"is-style-outline","style":{"typography":{"textAlign":"center","fontSize":"16px","fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|custom-bcbcbc"}}},"border":{"width":"1px","color":"#afafaf","radius":{"topLeft":"300px","topRight":"300px","bottomLeft":"300px","bottomRight":"300px"}},"spacing":{"padding":{"top":"var:preset|spacing|xs","bottom":"var:preset|spacing|xs","left":"24px","right":"24px"}}},"fontFamily":"plus-jakarta-sans"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-custom-bcbcbc-color has-text-color has-link-color has-border-color has-plus-jakarta-sans-font-family has-text-align-center has-custom-font-size wp-element-button" style="border-color:#afafaf;border-width:1px;border-top-left-radius:300px;border-top-right-radius:300px;border-bottom-left-radius:300px;border-bottom-right-radius:300px;padding-top:var(--wp--preset--spacing--xs);padding-right:24px;padding-bottom:var(--wp--preset--spacing--xs);padding-left:24px;font-size:16px;font-style:normal;font-weight:600">Blog</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:post-title {"textAlign":"center","align":"wide","style":{"typography":{"fontSize":"56px","fontStyle":"normal","fontWeight":"800"},"spacing":{"padding":{"right":"300px","left":"300px"}}},"fontFamily":"plus-jakarta-sans"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:icon {"icon":"core/tag","style":{"css":"color:#8F8F8F;"}} /-->

<!-- wp:post-excerpt {"style":{"css":"color:#8F8F8F;","typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"fontFamily":"plus-jakarta-sans"} /-->

<!-- wp:icon {"icon":"core/calendar","style":{"css":"color:#8F8F8F;"}} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"},"css":"color:#8F8F8F;"},"fontFamily":"plus-jakarta-sans"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"height":"629px","scale":"contain","align":"wide"} /-->

<!-- wp:post-content {"align":"wide","style":{"spacing":{"padding":{"right":"1px","left":"1px"}}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lawfirmpro/theme","area":"uncategorized"} /-->