<!-- wp:template-part {"slug":"header-version-2","theme":"lawfirmpro/theme","area":"uncategorized"} /-->

<!-- wp:group {"metadata":{"categories":["featured"],"patternName":"lawfirmpro/practice-areas","name":"Practice Areas"},"style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}},"border":{"top":{"color":"var:preset|color|custom-ebebeb","width":"1px"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--custom-ebebeb);border-top-width:1px;padding-top:50px;padding-bottom:50px"><!-- wp:group {"align":"wide","backgroundColor":"custom-000000","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-custom-000000-background-color has-background"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center"}} -->
<div class="wp-block-group"><!-- wp:buttons {"align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons alignwide"><!-- wp:button {"textColor":"custom-bcbcbc","className":"is-style-outline","style":{"typography":{"textAlign":"center","fontSize":"16px","fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|custom-bcbcbc"}}},"border":{"width":"1px","color":"#afafaf","radius":{"topLeft":"300px","topRight":"300px","bottomLeft":"300px","bottomRight":"300px"}},"spacing":{"padding":{"top":"var:preset|spacing|xs","bottom":"var:preset|spacing|xs","left":"24px","right":"24px"}}},"fontFamily":"plus-jakarta-sans"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-custom-bcbcbc-color has-text-color has-link-color has-border-color has-plus-jakarta-sans-font-family has-text-align-center has-custom-font-size wp-element-button" style="border-color:#afafaf;border-width:1px;border-top-left-radius:300px;border-top-right-radius:300px;border-bottom-left-radius:300px;border-bottom-right-radius:300px;padding-top:var(--wp--preset--spacing--xs);padding-right:24px;padding-bottom:var(--wp--preset--spacing--xs);padding-left:24px;font-size:16px;font-style:normal;font-weight:600">Services</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:heading {"style":{"typography":{"textAlign":"center","fontStyle":"normal","fontWeight":"700","lineHeight":"1.1","letterSpacing":"0px","fontSize":"56px"},"spacing":{"padding":{"right":"300px","left":"300px"}}},"fontFamily":"plus-jakarta-sans"} -->
<h2 class="wp-block-heading has-text-align-center has-plus-jakarta-sans-font-family" style="padding-right:300px;padding-left:300px;font-size:56px;font-style:normal;font-weight:700;letter-spacing:0px;line-height:1.1">Shaping the world of things to come</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"className":"is-style-default","style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400","lineHeight":"1","letterSpacing":"0px","textAlign":"center"},"layout":{"selfStretch":"fit","flexSize":null},"elements":{"link":{"color":{"text":"var:preset|color|custom-464646"}}},"spacing":{"padding":{"right":"300px","left":"300px"}}},"textColor":"custom-464646","fontFamily":"plus-jakarta-sans"} -->
<p class="has-text-align-center is-style-default has-custom-464646-color has-text-color has-link-color has-plus-jakarta-sans-font-family" style="padding-right:300px;padding-left:300px;font-size:16px;font-style:normal;font-weight:400;letter-spacing:0px;line-height:1">Suspendisse turpis augue, aliquam eget ligula id, suscipit blandit magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":117,"query":{"perPage":100,"pages":0,"offset":0,"postType":"practice-area","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"core/query-standard-posts","name":"Standard"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"width":"389px","height":"430px"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"600"}},"fontFamily":"plus-jakarta-sans"} /-->

<!-- wp:post-excerpt {"moreText":"","style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400"},"elements":{"link":{"color":{"text":"var:preset|color|custom-464646"}}}},"textColor":"custom-464646","fontFamily":"plus-jakarta-sans"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"800","textTransform":"uppercase"}},"fontFamily":"plus-jakarta-sans"} -->
<p class="has-plus-jakarta-sans-font-family" style="font-size:16px;font-style:normal;font-weight:800;text-transform:uppercase">View Service ➔</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lawfirmpro/theme","tagName":"footer"} /-->