

.faq-title {
    cursor: pointer;
    position: relative;
    padding-right: 50px; 
}

.faq-title::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-color: #464646;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.faq-content {
    display: none;
    color: #393939;
}

.lawfirmpro-faq-item.active .faq-content {
    display: block;
}

.lawfirmpro-faq-item.active .faq-title::after {
    content: "−";
}